:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 2em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #ffffff;
}




/* Main Button Styles */
.main-button {
  width: 130px;
  height: 130px;
  background-image: url("burger.png");
  background-color: #242424;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; 
}

.main-button:hover {
  border-color: #646cff;
}

/* Counter Display Styles */
.counter-display {
  position: absolute;
  top: 75%; 
  left: 50%;
  transform: translate(-50%, -75%); 
  z-index: 2; 
  font-size: 2em;
  color: #ffffff;
  padding: 0.5em 1em;
  border-radius: 8px;
  pointer-events: none; 
}


/* Upgrade Button Styles */
.upgrade-button {
  background-color: #555555;
  margin-top: 2rem;
}

.upgrade-button:disabled {
  background-color: #121212;
  color: #535353;
  cursor: not-allowed;
}

.upgrade-button:hover:enabled {
  border-color: #ff8c00;
  background-color: #ff6600;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  .main-button {
    background-color: #f9f9f9;
  }

  .upgrade-button {
    background-color: #eeeeee;
  }

  .upgrade-button:disabled {
    background-color: #cccccc;
  }
}
